/*#results {
  display: none;
}*/
.jumbotron{
  background-color: #006400;
  color: white;
}
.container {
  text-align: center;
  background-color: #006400;
  color: white;
}

#playResults {
  text-align: center;
  font-size: 22px;
  color: white;
  background-color: #B20000;
}
